[difftool]
    prompt = false
[alias]
    d = difftool
[commit]
	verbose = true
[credential]
	helper = cache --timeout=300
[pull]
	ff = only
[diff]
	noprefix = false
[include]
	path = ~/.gitconfig.local
