[core]
	editor = nvim
[difftool]
    prompt = false
[branch]
	sort = -committerdate
[commit]
	verbose = true
	gpgsign = true
[fetch]
	prune = true
	pruneTags = true
[credential]
	helper = cache --timeout=300
[pull]
	ff = only
[diff]
	mnemonicPrefix = true
	noprefix = false
[log]
	abbrevCommit = true
[merge]
	conflictStyle = zdiff3
	ff = false
[rebase]
	stat = true
[rerere]
	enabled = true
	autoUpdate = true
[include]
	path = ~/.gitconfig.local
