[core]
	editor = nvim
[difftool]
    prompt = false
[branch]
	sort = -committerdate
[commit]
	verbose = true
	gpgsign = true
[fetch]
	prune = true
	pruneTags = true
[credential]
    helper = store
    # helper = cache --timeout=300
[pull]
	ff = only
[push]
    autoSetupRemote = true
[diff]
	mnemonicPrefix = true
	noprefix = false
[log]
	abbrevCommit = true
[merge]
	conflictStyle = zdiff3
	ff = false
[rebase]
	stat = true
	updateRefs = true
[rerere]
	enabled = true
	autoUpdate = true
[include]
	path = ~/.gitconfig.local
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
[safe]
	directory = /code
